<form name="pan">
	<div class="form-group">
		<select name="actor" data-dtype="String">
			{{selectOptions actorList selected=actor localize=false}}
		</select>
	</div>
	<div class="form-group">
  	<select name="itemToAdd" data-dtype="String">
			<option value="none">{{localize 'SR5.ChooseItemToPan'}}</option>       
	  	{{#if list.augmentations}}
				<optgroup label="{{localize 'SR5.Augmentations'}}">
					{{selectOptions list.augmentations selected=itemToAdd localize=false}}
				</optgroup>
	  	{{/if}}
	  	{{#if list.weapons}}
	  		<optgroup label="{{localize 'SR5.Weapons'}}">
					{{selectOptions list.weapons selected=itemToAdd localize=false}}
	  		</optgroup>
	  	{{/if}}
	  	{{#if list.armors}}
				<optgroup label="{{localize 'SR5.Armors'}}">
					{{selectOptions list.armors selected=itemToAdd localize=false}}
				</optgroup>
	  	{{/if}}
	  	{{#if list.gears}}
	  		<optgroup label="{{localize 'SR5.Gear'}}">
					{{selectOptions list.gears selected=itemToAdd localize=false}}
	 			</optgroup>
	  	{{/if}}
		  {{#if list.vehicles}}
		  	<optgroup label="{{localize 'SR5.Vehicle'}}">
					{{selectOptions list.vehicles selected=itemToAdd localize=false}}
			  </optgroup>
		  {{/if}}
		</select>
	</div>
</form>