<form>
	<div class="form-group grid" name="chooseSpendNetHits">
		<ul>
		<li class="grid">
        	<div class="col-4">{{localize 'SR5.SpendHits'}}{{SR5.Colons}}</div>
			<div class="col-2">{{disposableHits}}</div>
		</li>	
		<br>
		{{#if (or (eq calledShotLocalisation "CS_ST_Ankle")(eq calledShotLocalisation "CS_ST_Knee")(eq calledShotLocalisation "CS_ST_Hip")(eq calledShotLocalisation "CS_ST_Foot")(eq calledShotLocalisation "CS_ST_Shin"))}}	
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="slowed"/></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_Slowed'}}</label></div>
			</li>
		{{/if}}
		{{#if (or (eq calledShotLocalisation "CS_ST_Ankle")(eq calledShotLocalisation "CS_ST_Knee")(eq calledShotLocalisation "CS_ST_Foot")(eq calledShotLocalisation "CS_ST_Shin")(eq calledShotLocalisation "CS_ST_Sternum"))}}	
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="winded"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_Winded'}}</label></div>
			</li>
		{{/if}}
		{{#if (eq calledShotLocalisation "CS_ST_Ear")}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="deafened"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_Deafened'}}</label></div>
			</li>
		{{/if}}
		{{#if (or (eq calledShotLocalisation "CS_ST_Gut")(eq calledShotLocalisation "CS_ST_Neck")(eq calledShotLocalisation "CS_ST_Shoulder")(eq calledShotLocalisation "CS_ST_Knee")(eq calledShotLocalisation "CS_ST_Jaw")(eq calledShotLocalisation "CS_ST_Hand")(eq calledShotLocalisation "CS_ST_Eye")(eq calledShotLocalisation "CS_ST_Ear")(eq calledShotLocalisation "CS_ST_Genitals")(eq calledShotLocalisation "CS_ST_Foot")(eq calledShotLocalisation "CS_ST_Sternum"))}}	
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="stunned"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_Stunned'}}</label></div>
			</li>
		{{/if}}
		{{#if (eq calledShotLocalisation "CS_ST_Eye")}}
			<li class="grid" data-helpTitle="{{localize 'SR5.HELP_VehicleModel'}}" data-helpMessage="{{localize 'SR5.HELP_VehicleModelMsg'}}">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="blinded"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_Blinded'}}</label></div>
			</li>
		{{/if}}
		{{#if (or (eq calledShotLocalisation "CS_ST_Forearm")(eq calledShotLocalisation "CS_ST_Hand"))}}
			<li class="grid" data-helpTitle="{{localize 'SR5.HELP_VehicleModel'}}" data-helpMessage="{{localize 'SR5.HELP_VehicleModelMsg'}}">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="brokenGrip"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_BrokenGrip'}}</label></div>
			</li>
		{{/if}}
		{{#if (or (eq calledShotLocalisation "CS_ST_Forearm")(eq calledShotLocalisation "CS_ST_Shoulder")(eq calledShotLocalisation "CS_ST_Hand"))}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="weakSide"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_WeakSide'}}</label></div>
			</li>
		{{/if}}
		{{#if (or (eq calledShotLocalisation "CS_ST_Gut")(eq calledShotLocalisation "CS_ST_Genitals"))}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="nauseous"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_Nauseous'}}</label></div>
			</li>
		{{/if}}
		{{#if (eq calledShotLocalisation "CS_ST_Genitals")}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="buckled"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_Buckled'}}</label></div>
			</li>
		{{/if}}
		{{#if (eq calledShotLocalisation "CS_ST_Gut")}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="slowDeath"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_SlowDeath'}}</label></div>
			</li>
		{{/if}}
		{{#if (or (eq calledShotLocalisation "CS_ST_Knee")(eq calledShotLocalisation "CS_ST_Hip")(eq calledShotLocalisation "CS_ST_Shin"))}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="knockdown"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_Knockdown'}}</label></div>
			</li>
		{{/if}}
		{{#if (eq calledShotLocalisation "CS_ST_Jaw")}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="unableToSpeak"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_UnableToSpeak'}}</label></div>
			</li>
		{{/if}}
		{{#if (eq calledShotLocalisation "CS_ST_Neck")}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="bleedOut"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_BleedOut'}}</label></div>
			</li>
		{{/if}}
		{{#if (eq calledShotLocalisation "CS_ST_Shoulder")}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="oneArmBandit"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_OneArmBandit'}}</label></div>
			</li>
		{{/if}}
		{{#if (eq calledShotLocalisation "CS_ST_Sternum")}}
			<li class="grid">
				<div class="col-2"><input type="checkbox" class="input" id="checkDisposableHitsEffects" name="checkDisposableHitsEffects" value="fatigued"></div>
				<div class="col-5"><label>{{localize 'SR5.STATUSES_Fatigued'}}</label></div>
			</li>
		{{/if}}
		</ul>
	</div>
</form>
