<form>
	<div class="form-group">
	  	<select name="target" data-dtype="String">
		{{#select item}}
		  	<option value="device">{{device}}</option>
		  	{{#if list.augmentations}}
				<optgroup label="{{localize 'SR5.Augmentations'}}">
					{{#each list.augmentations}}
					<option value="{{@key}}">{{this}}</option>
					{{/each}}
				</optgroup>
		  	{{/if}}
		  	{{#if list.weapons}}
		  		<optgroup label="{{localize 'SR5.Weapons'}}">
					{{#each list.weapons}}
					<option value="{{@key}}">{{this}}</option>
					{{/each}}
		  		</optgroup>
		  	{{/if}}
		  	{{#if list.armors}}
				<optgroup label="{{localize 'SR5.Armors'}}">
			  		{{#each list.armors}}
			  		<option value="{{@key}}">{{this}}</option>
			  		{{/each}}
				</optgroup>
		  	{{/if}}
		  	{{#if list.gears}}
		  		<optgroup label="{{localize 'SR5.Gear'}}">
					{{#each list.gears}}
					<option value="{{@key}}">{{this}}</option>
					{{/each}}
		  			</optgroup>
		  	{{/if}}
		{{/select}}
		</select>
	</div>
</form>
