<li class="SR-LigneEnTete SR-PaddingTop10">
    <div>{{localize 'SR5.AttackInfo'}}</div>
</li>
<li class="grid SR-PaddingTop5">
    <div class="col-10">{{localize 'SR5.DamageValue'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{damageValue}}{{findTranslation 'damageTypesShort' damageType}}</div>
</li>
{{#if (ne damageElement '')}}
<li class="grid">
    <div class="col-8">{{localize 'SR5.SpecialDamage'}}{{localize 'SR5.Colons'}} </div>
    <div class="col-4 SR-TextRight">{{findTranslation 'specialDamageTypes' damageElement}}</div>
</li>
{{/if}}
{{#if (eq damageElement "toxin")}}
<li class="grid">
    <div class="col-8">{{localize 'SR5.Type'}}{{localize 'SR5.Colons'}} </div>
    <div class="col-4 SR-TextRight">{{findTranslation 'toxinTypes' toxin.type}}</div>
</li>
<li class="grid">
    <div class="col-8">{{localize 'SR5.ToxinPenetration'}}{{localize 'SR5.Colons'}} </div>
    <div class="col-4 SR-TextRight">{{toxin.penetration}}</div>
</li>
<li class="grid">
    <div class="col-8">{{localize 'SR5.ToxinPower'}}{{localize 'SR5.Colons'}} </div>
    <div class="col-4 SR-TextRight">{{toxin.power}}</div>
</li>
<li class="grid">
    <div class="col-8">{{localize 'SR5.ToxinSpeed'}}{{localize 'SR5.Colons'}} </div>
    <div class="col-4 SR-TextRight">{{toxin.speed}}</div>
</li>
{{/if}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.ArmorPenetration'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{incomingPA}}</div>
</li>
<li class="grid">
    {{#if (eq typeSub 'meleeWeapon')}}
    <div class="col-10">{{localize 'SR5.WeaponReach'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{attackerReach}}</div>
    {{/if}}
    {{#if (eq typeSub 'rangedWeapon')}}
    <div class="col-10">{{localize 'SR5.WeaponMode'}}{{localize 'SR5.Colons'}}</p>
    </div>
    <div class="col-2 SR-TextRight">{{findTranslation 'weaponModesCode' firingModeSelected}}</div>
    {{/if}}
</li>
{{#if (ne ammoType '')}}
<li class="grid">
    <div class="col-8">{{localize 'SR5.AmmunitionType'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-4 SR-TextRight">{{findTranslation 'allAmmunitionTypes' ammoType}}</div>
</li>
{{/if}}
{{#if (ne calledShot.name '')}}
<li class="grid">
    <div class="col-4">{{localize 'SR5.CS_CalledShots'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-8 SR-TextRight">{{findTranslation 'calledShotsAll' calledShot.name}}
        {{#if (and (isdefined calledShot.location) (ne calledShot.location ""))}} 
            ({{findTranslation 'calledShotsSpecifics' calledShot.location}})
        {{/if}}
    </div>
</li>
{{/if}}
{{#if (eq typeSub 'grenade')}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.Blast'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{blastRadius}}m {{#if_l damageFallOff 0}} ({{damageFallOff}}) {{/if_l}}</div>
</li>
{{/if}}