<li class="grid SR-LigneEnTete">
    <div class="col-6">{{localize 'SR5.DicePool'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6 SR-TextRight">{{dicePool.value}}</div>
</li>
<!--Base Dicepool-->
<li class="grid SR-PaddingTop5">
    <div class="col-10">
        {{localize 'SR5.BaseDicePool'}}{{localize 'SR5.Colons'}}
        <a class="SR-MessageToggle" data-target="dicePoolComposition" data-action="show"><i class="fas fa-angle-down SR-SubColor"></i></a>
		<a class="SR-MessageToggle" data-target="dicePoolComposition" data-action="hide" style="display: none;"><i class="fas fa-angle-up SR-SubColor"></i></a>
    </div>
    <div class="col-2 SR-TextRight">{{dicePool.base}}</div>
</li>
<!--Base Dicepool composition-->
<div id="dicePoolComposition" style="display: none;">
    {{#each dicePool.composition}}
    <li class="grid SR-GreyColor">
        <div class="col-10">{{source}} [{{findTranslation 'modifierTypes' type}}]{{localize 'SR5.Colons'}}</div>
        <div class="col-2 SR-TextRight">{{#if (gt value 0)}}+{{/if}}{{value}}</div>
    </li>
    {{/each}}
    {{#each armor.composition}}
    <!--Armor composition-->
    <li class="grid SR-GreyColor">
        <div class="col-10">{{source}} [{{findTranslation 'modifierTypes' type}}]{{localize 'SR5.Colons'}}</div>
        <div class="col-2 SR-TextRight">{{#if (gt value 0)}}+{{/if}}{{value}}</div> 
    </li>
    {{/each}}
</div>
<!--Modifiers-->
{{#if (or dicePool.hasModifier (eq type 'resistanceCard'))}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.Modifiers'}}{{localize 'SR5.Colons'}}
        <a class="SR-MessageToggle" data-target="dicePoolModifiers" data-action="show"><i class="fas fa-angle-down SR-SubColor"></i></a>
		<a class="SR-MessageToggle" data-target="dicePoolModifiers" data-action="hide" style="display: none;"><i class="fas fa-angle-up SR-SubColor"></i></a>
    </div>
    <div class="col-2 SR-TextRight">{{#if (gt dicePool.modifiersTotal 0)}}+{{/if}}{{dicePool.modifiersTotal}}</div>
</li>
{{/if}}
<div id="dicePoolModifiers" style="display: none;">
    {{#each dicePool.modifiers}}
    {{#if (ne value 0)}}
    <li class="grid SR-GreyColor">
        <div class="col-10">{{label}}{{localize 'SR5.Colons'}}</div>
        <div class="col-2 SR-TextRight">{{#if (gt value 0)}}+{{/if}}{{value}}</div>
    </li>
    {{/if}}
    {{/each}}
</div>