<li class="grid">
    <div class="col-6">{{localize 'SR5.DicePool'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6 SR-TextRight">{{test.dicePool}}</div>
</li>
<!--Base Dicepool-->
{{#if (or dicePoolModHas (eq type 'resistanceCard'))}}
<li class="grid SR-PaddingTop5 SR-GreyColor">
    <div class="col-10">{{localize 'SR5.BaseDicePool'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolBase}}</div>
</li>
{{/if}}
<!--Base Dicepool composition-->
<li class="SR-GreyColor">
    {{#each dicePoolComposition}}
    <span>{{source}} ({{#if (gt value 0)}}+{{/if}}{{value}}){{#unless @last}}, {{/unless}}</span> 
    {{/each}}
</li>
<!--Push the limit mod Dicepool-->
{{#if (isdefined dicePoolMod.pushTheLimit)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PushTheLimit'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">+{{dicePoolMod.pushTheLimit}}</div>
</li>
{{/if}}
<!--Attribute mod Dicepool-->
{{#if (isdefined dicePoolMod.attribute)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.Attribute'}} ({{findTranslation 'allAttributes' attributeKey}}){{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">+{{dicePoolMod.attribute}}</div>
</li>
{{/if}}
<!--Attribute mod Dicepool-->
{{#if (isdefined dicePoolMod.edge)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.Edge'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">+{{dicePoolMod.edge}}</div>
</li>
{{/if}}
<!--Penalty mod Dicepool-->
{{#if (isdefined dicePoolMod.penalty)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.Penalty'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.penalty}}</div>
</li>
{{/if}}
<!--Various mod Dicepool-->
{{#if (isdefined dicePoolMod.various)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.VariousModifiers'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{#if (gt dicePoolMod.various 0)}}+{{/if}}{{dicePoolMod.various}}</div>
</li>
{{/if}}
<!--Specialization mod Dicepool-->
{{#if (isdefined dicePoolMod.specialization)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.Specialization'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">+{{dicePoolMod.specialization}}</div>
</li>
{{/if}}
<!--Firing mode mod Dicepool-->
{{#if (isdefined dicePoolMod.incomingFiringMode)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.WeaponMode'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.incomingFiringMode}}</div>
</li>
{{/if}}
<!--Recoil mod Dicepool-->
{{#if (and (isdefined dicePoolMod.recoil) (lt dicePoolMod.recoil 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.Recoil'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.recoil}}</div>
</li>
{{/if}}
<!--Range mod Dicepool-->
{{#if (isdefined dicePoolMod.targetRange)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.Range'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.targetRange}}</div>
</li>
{{/if}}
<!--Reach mod Dicepool-->
{{#if (and (isdefined dicePoolMod.reach) (ne dicePoolMod.reach 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.WeaponReach'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.reach}}</div>
</li>
{{/if}}
<!--Environmental mod Dicepool-->
{{#if (and (isdefined dicePoolMod.environmentalSceneMod) (ne dicePoolMod.environmentalSceneMod 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.EnvironmentalModifiers'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.environmentalSceneMod}}</div>
</li>
{{/if}}
<!--Cumulative defense mod Dicepool-->
{{#if (isdefined dicePoolMod.cumulativeDefense)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.CumulativeDefense'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.cumulativeDefense}}</div>
</li>
{{/if}}
<!--Active defense mod Dicepool-->
{{#if (isdefined dicePoolMod.defenseActive)}}
<li class="grid SR-GreyColor">
    {{#if (eq activeDefenseMode 'defenseDodge')}}
    <div class="col-10">{{localize 'SR5.ActiveDefense'}} ({{localize 'SR5.Dodge'}}) {{localize 'SR5.Colons'}}</div>
    {{else if (eq activeDefenseMode 'defenseBlock')}}
    <div class="col-10">{{localize 'SR5.ActiveDefense'}} ({{localize 'SR5.Block'}}) {{localize 'SR5.Colons'}}</div>
    {{else if (eq activeDefenseMode 'defenseParryClubs')}}
    <div class="col-10">{{localize 'SR5.ActiveDefense'}} ({{localize 'SR5.ParryBlunt'}}) {{localize 'SR5.Colons'}}</div>
    {{else if (eq activeDefenseMode 'defenseParryBlades')}}
    <div class="col-10">{{localize 'SR5.ActiveDefense'}} ({{localize 'SR5.ParrySlashing'}}) {{localize 'SR5.Colons'}}</div>
    {{/if}}
    <div class="col-2 SR-TextRight">{{dicePoolMod.defenseActive}}</div>
</li>
{{/if}}
<!--Full defense mod Dicepool-->
{{#if (and (isdefined dicePoolMod.fullDefense) (ne dicePoolMod.fullDefense 0) )}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.FullDefense'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.fullDefense}}</div>
</li>
{{/if}}
<!--Cover mod Dicepool-->
{{#if (and (isdefined dicePoolMod.cover) (ne dicePoolMod.cover 0) )}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.Cover'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.cover}}</div>
</li>
{{/if}}
<!--Armor mod Dicepool-->
{{#if (isdefined armor)}}
<li class="grid SR-GreyColor">
    {{#ife actorType "actorDrone"}}
    <div class="col-10">{{localize 'SR5.VehicleStat_ArmorShort'}}{{localize 'SR5.Colons'}}</div>
    {{else}}
    <div class="col-10">{{localize 'SR5.Armor'}}{{localize 'SR5.Colons'}}</div>
    {{/ife}}
    <div class="col-2 SR-TextRight">{{armor}}</div>
</li>
<!--Armor composition-->
<li class="SR-GreyColor">
    {{#each armorComposition}}
    <span>{{source}} ({{#if (gt value 0)}}+{{/if}}{{value}}){{#unless @last}}, {{/unless}}</span> 
    {{/each}}
</li>
{{/if}}
<!--Incoming AP mod Dicepool-->
{{#if (and (isdefined incomingPA) (eq type 'resistanceCard'))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.ArmorPenetration'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{incomingPA}}</div>
</li>
{{/if}}
<!--Background Count mod Dicepool-->
{{#if (and (isdefined dicePoolMod.backgroundCount) (ne dicePoolMod.backgroundCount 0) )}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SceneBackgroundCount'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.backgroundCount}}</div>
</li>
{{/if}}
<!--Matrix Range Noise mod Dicepool-->
{{#if (and (isdefined dicePoolMod.matrixRange) (ne dicePoolMod.matrixRange 0) )}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.MatrixNoise'}} ({{findTranslation 'matrixNoiseDistance' matrixNoiseRange}}){{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.matrixRange}}</div>
</li>
{{/if}}
<!--Scene Matrix Noise mod Dicepool-->
{{#if (and (isdefined dicePoolMod.matrixSceneNoise) (lt dicePoolMod.matrixSceneNoise 0) )}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SceneNoiseRating'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.matrixSceneNoise}}</div>
</li>
{{/if}}
<!--Matrix Noise Reduction mod Dicepool-->
{{#if (and (isdefined dicePoolMod.matrixNoiseReduction) (gt dicePoolMod.matrixNoiseReduction 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.NoiseReduction'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.matrixNoiseReduction}}</div>
</li>
{{/if}}
<!--Public Grid modifiers-->
{{#if (and (isdefined dicePoolMod.publicGrid) (lt dicePoolMod.publicGrid 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.GridPublicOn'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.publicGrid}}</div>
</li>
{{/if}}
<!--Grid modifiers-->
{{#if (and (isdefined dicePoolMod.targetGrid) (lt dicePoolMod.targetGrid 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.GridTargetDifferent'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.targetGrid}}</div>
</li>
{{/if}}
<!--Perception type mod Dicepool-->
{{#if (and (isdefined dicePoolMod.perceptionType) (ne dicePoolMod.perceptionType 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SkillPerceptionType'}} ({{findTranslation 'perceptionTypes' perceptionType}}){{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.perceptionType}}</div>
</li>
{{/if}}
<!--Resist Fire, Armor Penetration type mod Dicepool-->
{{#if (eq type 'resistFire')}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.ArmorPenetration'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{incomingPA}}</div>
</li>
{{/if}}
<!--Spirit Aid mod Dicepool-->
{{#if (and (isdefined dicePoolMod.spiritAid) (gt dicePoolMod.spiritAid 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SpiritAid'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.spiritAid}}</div>
</li>
{{/if}}
<!--Spirit type mod Dicepool-->
{{#if (and (isdefined dicePoolMod.spiritType) (ne dicePoolMod.spiritType 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SpiritTypeBonus'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.spiritType}}</div>
</li>
{{/if}}
<!--Spell category mod Dicepool-->
{{#if (and (isdefined dicePoolMod.spellCategory) (ne dicePoolMod.spellCategory 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SpellCategoryBonus'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.spellCategory}}</div>
</li>
{{/if}}
<!--Sensor lock mod Dicepool-->
{{#if (and (isdefined dicePoolMod.sensorLockMod) (ne dicePoolMod.sensorLockMod 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SensorLockedTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.sensorLockMod}}</div>
</li>
{{/if}}
<!--Signature size mod Dicepool-->
{{#if (and (isdefined dicePoolMod.signatureSize) (ne dicePoolMod.signatureSize 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.TargetSize'}} ({{findTranslation 'targetSignature' signatureType}}){{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.signatureSize}}</div>
</li>
{{/if}}
<!--Mark wanted mod Dicepool-->
{{#if (and (isdefined dicePoolMod.mark) (ne dicePoolMod.mark 0))}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.NumberOfWantedMarks'}} ({{mark}}){{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.mark}}</div>
</li>
{{/if}}
<!--Centering Modifier-->
{{#if (isdefined dicePoolMod.centering)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.MetamagicCentering'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.centering}}</div>
</li>
{{/if}}
<!--Spell Shaping Modifier-->
{{#if (isdefined dicePoolMod.spellShaping)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.MetamagicSpellShaping'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.spellShaping}}</div>
</li>
{{/if}}
<!--Healing Condition Modifier-->
{{#if (isdefined dicePoolMod.healingCondition)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.HealingConditions'}} ({{findTranslation 'healingConditions' healingCondition}}){{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.healingCondition}}</div>
</li>
{{/if}}
<!--Healing Patient cooperation Modifier-->
{{#if (isdefined dicePoolMod.patientCooperation)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.UncooperativePatient'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.patientCooperation}}</div>
</li>
{{/if}}
<!--Healing Patient awakned or emerged Modifier-->
{{#if (isdefined dicePoolMod.patientAwakenedOrEmerged)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PatientAwakenedOrEmerged'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.patientAwakenedOrEmerged}}</div>
</li>
{{/if}}
<!--Healing Patient Essence Modifier-->
{{#if (isdefined dicePoolMod.patientEssence)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PatientEssence'}} ({{patientEssence}}) {{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.patientEssence}}</div>
</li>
{{/if}}
<!--Healing supplies Modifier-->
{{#if (isdefined dicePoolMod.healingSupplies)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.HealingSupplies'}} ({{findTranslation 'healingSupplies' healingSupplies}}){{localize 'SR5.Colons'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.healingSupplies}}</div>
</li>
{{/if}}
<!--Escape Artist watched Modifier-->
{{#if (isdefined dicePoolMod.escapeSituationWatched)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.EscapeArtistSituationWatched'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.escapeSituationWatched}}</div>
</li>
{{/if}}
<!--Escape Artist restrained Modifier-->
{{#if (isdefined dicePoolMod.restrainerStrength)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.EscapeArtistSituationRestrained'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.restrainerStrength}}</div>
</li>
{{/if}}
<!--Escape Artist picks Modifier-->
{{#if (isdefined dicePoolMod.escapeSituationPicks)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.EscapeArtistSituationPicks'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.escapeSituationPicks}}</div>
</li>
{{/if}}
<!--Perception Modifiers-->
{{#if (isdefined dicePoolMod.distracted)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PerceptionModDistracted'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.distracted}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.specificallyLooking)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PerceptionModSpecificallyLooking'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.specificallyLooking}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.notInImmediateVicinity)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PerceptionModNotInImmediateVicinity'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.notInImmediateVicinity}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.farAway)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PerceptionModFarAway'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.farAway}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.standsOutInSomeWay)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PerceptionModStandsOutInSomeWay'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.standsOutInSomeWay}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.interfering)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PerceptionModInterfering'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.interfering}}</div>
</li>
{{/if}}
<!--Survival Modifiers-->
{{#if (isdefined dicePoolMod.camping)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SurvivalModCamping'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.camping}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.noFoundOrWater)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SurvivalModNoFoundOrWater'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.noFoundOrWater}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.controlAvailable)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SurvivalModControlAvailable'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.controlAvailable}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.clothing)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SurvivalModClothing'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.clothing}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.travel)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SurvivalModTravel'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.travel}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.toxic)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SurvivalModToxic'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.toxic}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.weather)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SurvivalWeather'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.weather}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialAttitude)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModAttitude'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialAttitude}}</div>
</li>
{{/if}}
<!--Social General Modifiers-->
{{#if (isdefined dicePoolMod.socialResult)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModDesiredResult'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialResult}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialReputation)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModReputation'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialReputation}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialReputationTarget)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModReputationTarget'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialReputationTarget}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialAce)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModAce'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialAce}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialRomantic)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModRomantic'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialRomantic}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialIntoxicated)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModIntoxicated'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialIntoxicated}}</div>
</li>
{{/if}}
<!--Social Con Modifiers-->
{{#if (isdefined dicePoolMod.socialEvidence)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModEvidence'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialEvidence}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialIsDistracted)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModIsDistracted'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialIsDistracted}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialEvaluateSituation)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModEvaluateSituation'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialEvaluateSituation}}</div>
</li>
{{/if}}
<!--Social Etiquette Modifiers-->
{{#if (isdefined dicePoolMod.socialBadLook)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModBadLook'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialBadLook}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialNervous)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModNervous'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialNervous}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialIsDistractedInverse)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModIsDistracted'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialIsDistractedInverse}}</div>
</li>
{{/if}}
<!--Social Intimidation Modifiers-->
{{#if (isdefined dicePoolMod.socialImposing)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModImposing'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialImposing}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialImposingTarget)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModImposingTarget'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialImposingTarget}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialOutnumber)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModOutnumber'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialOutnumber}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialOutnumberTarget)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModOutnumberTarget'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialOutnumberTarget}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialWieldingWeapon)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModWieldingWeapon'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialWieldingWeapon}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialWieldingWeaponTarget)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModWieldingWeaponTarget'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialWieldingWeaponTarget}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialTorture)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModTorture'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialTorture}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialObliviousToDanger)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModObliviousToDanger'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialObliviousToDanger}}</div>
</li>
{{/if}}
<!--Social Leadership Modifiers-->
{{#if (isdefined dicePoolMod.socialRank)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModRank'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialRank}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialRankTarget)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModRankTarget'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialRankTarget}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialAuthority)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModAuthority'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialAuthority}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialStrata)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModStrata'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialStrata}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialFan)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModFan'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialFan}}</div>
</li>
{{/if}}
<!--Social Negociation Modifiers-->
{{#if (isdefined dicePoolMod.socialLacksKnowledge)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModLacksKnowledge'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialLacksKnowledge}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.socialBlackmailed)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.SocialModBlackmailed'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.socialBlackmailed}}</div>
</li>
{{/if}}
<!--Building / Repairing Modifiers-->
{{#if (isdefined dicePoolMod.workingCondition)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.WorkingCondition'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.workingCondition}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.toolsAndParts)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.ToolsAndParts'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.toolsAndParts}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.plansMaterial)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.PlansMaterial'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.plansMaterial}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.workingFromMemory)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.WorkingFromMemory'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.workingFromMemory}}</div>
</li>
{{/if}}
{{#if (isdefined dicePoolMod.calledShot)}}
<li class="grid SR-GreyColor">
    <div class="col-10">{{localize 'SR5.CS_CalledShot'}}</div>
    <div class="col-2 SR-TextRight">{{dicePoolMod.calledShot}}</div>
</li>
{{/if}}