<li class="grid">
    <div class="col-4">{{localize 'SR5.CS_CalledShots'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-7 SR-TextRight" id="calledShot">
        <select class="SR-ModSelect" data-target="dicePoolModCalledShots" data-modifier="calledShot">
            <option class="SR-LightGreyColor" value="">{{localize 'SR5.ChooseOne'}}</option>
            {{#select incomingCalledShots}}
            <option value="blastOutOfHand">
                {{#if (or (eq ammoType "explosive")(eq ammoType "exExplosive")(eq ammoType "flechette") (eq ammoType "arrow") (eq ammoType "bolt")(eq ammoType "gel")(eq ammoType "hollowPoint"))}} 
                    {{localize 'SR5.CS_AS_FingerPopper'}}
                {{else}}
                    {{localize 'SR5.CS_BlastOutOfHand'}}
                {{/if}}
            </option>
            {{#if (and (eq typeSub "meleeWeapon") calledShot.martialArtBreakWeapon)}}            
            <option value="breakWeapon">{{localize 'SR5.CS_BreakWeapon'}}</option>
            {{/if}}             
            <option value="specificTarget">{{localize 'SR5.CS_SpecificTarget'}}</option>
            <option value="dirtyTrick">
                {{#if (or (eq ammoType "explosive")(eq ammoType "exExplosive")(eq ammoType "frangible")(eq ammoType "gel")(eq ammoType "gyrojet")(eq ammoType "gyrojetTaser")(eq ammoType "hollowPoint"))}}  
                    {{localize 'SR5.CS_AS_HereMuckInYourEye'}}
                {{else}}
                    {{localize 'SR5.CS_DirtyTrick'}}
                {{/if}}
            </option>
            {{#if (and (or (eq ammoType "special") (eq ammoType "bolt") (eq ammoType "boltInjection") (eq ammoType "arrow") (eq ammoType "arrowInjection")) calledShot.martialArtPin)}} 
            <option value="pin">{{localize 'SR5.CS_Pin'}}</option>
            {{/if}}                          
            {{#if (and (eq typeWeapon "unarmed") calledShot.martialArtDisarm)}}              
            <option value="disarm">{{localize 'SR5.CS_Disarm'}}</option>
            {{/if}} 
            {{#if (and (or (eq typeWeapon "exoticRangedWeapon")(eq typeWeapon "exoticMeleeWeapon")) calledShot.martialArtEntanglement)}}  
            <option value="entanglement">{{localize 'SR5.CS_Entanglement'}}</option>
            {{/if}}
            <option value="shakeUp">
                {{#if (or (eq ammoType "explosive") (eq ammoType "exExplosive") )}} 
                    {{localize 'SR5.CS_AS_ShakeRattle'}}
                {{else}}
                    {{localize 'SR5.CS_ShakeUp'}}
                {{/if}}
            </option>
            {{#if (and (eq typeSub "meleeWeapon") calledShot.martialArtFeint)}}
            <option value="feint">{{localize 'SR5.CS_Feint'}}</option>  
            {{/if}}
            <option value="splittingDamage">{{localize 'SR5.CS_SplittingDamage'}}</option>
            {{#if (eq typeSub "meleeWeapon")}}
            <option value="knockdown">{{localize 'SR5.CS_Knockdown'}}</option>
            {{/if}}
            <option value="trickShot">{{localize 'SR5.CS_TrickShot'}}</option>
            {{#if (and (eq typeSub "meleeWeapon") (eq typeWeapon "unarmed") )}}
            <option value="reversal">{{localize 'SR5.CS_Reversal'}}</option>
            {{/if}}
            <!--Ammo specifics called shots-->
            {{#if (or (eq ammoType "injection")(eq ammoType "explosive")(eq ammoType "exExplosive")(eq ammoType "flechette") (eq ammoType "arrow") (eq ammoType "bolt")(eq ammoType "gel")(eq ammoType "hollowPoint")(eq ammoType "boltInjection")(eq ammoType "arrowInjection")(eq ammoType "apds")(eq ammoType "av")(eq ammoType "assaultCannon")(eq ammoType "capsule")(eq ammoType "flare")(eq ammoType "frangible")(eq ammoType "gauss")(eq ammoType "gyrojet")(eq ammoType "gyrojetTaser")(eq ammoType "tracer")(eq ammoType "tracker"))}}
            <optgroup class="SR-TextRight" label="{{localize 'SR5.CS_AmmoSpecific'}}">
                {{#if (eq ammoType "gel")}} 
                <option value="bellringer">{{localize 'SR5.CS_AS_Bellringer'}}</option>
                {{/if}}
                {{#if (or (eq ammoType "gel")(eq ammoType "gyrojet")(eq ammoType "gyrojetTaser"))}} 
                <option value="ricochetShot">{{localize 'SR5.CS_AS_RicochetShot'}}</option>
                {{/if}}
                {{#if (eq ammoType "apds")}} 
                <option value="bullsEye">{{localize 'SR5.CS_AS_BullsEye'}}</option>
                {{/if}}
                {{#if (or (eq ammoType "capsule") (eq ammoType "capsuleDmso"))}} 
                <option value="downTheGullet">{{localize 'SR5.CS_AS_DownTheGullet'}}</option>
                {{/if}}
                {{#if (eq ammoType "assaultCannon")}} 
                <option value="extremeIntimidation">{{localize 'SR5.CS_AS_ExtremeIntimidation'}}</option>
                {{/if}}
                {{#if (or (eq ammoType "injection")(eq ammoType "boltInjection")(eq ammoType "arrowInjection"))}} 
                <option value="warningShot">{{localize 'SR5.CS_AS_WarningShot'}}</option>
                {{/if}}
                {{#if (or (eq ammoType "flare")(eq ammoType "gyrojet")(eq ammoType "gyrojetTaser")(eq ammoType "tracer"))}} 
                <option value="flameOn">{{localize 'SR5.CS_AS_FlameOn'}}&lrm;</option>
                {{/if}}
                {{#if (eq ammoType "flare")}} 
                <option value="flashBlind">{{localize 'SR5.CS_AS_FlashBlind'}}</option>
                {{/if}}
                {{#if (or (eq ammoType "injection")(eq ammoType "boltInjection")(eq ammoType "arrowInjection") )}} 
                <option value="hitEmWhereItCounts">{{localize 'SR5.CS_AS_HitEmWhereItCounts'}}</option>
                {{/if}}
                {{#if (or (eq ammoType "flechette") (eq ammoType "arrow") (eq ammoType "bolt"))}} 
                <option value="onPinsAndNeedles">{{localize 'SR5.CS_AS_OnPinsAndNeedles'}}</option>
                {{/if}}
                {{#if (or (eq ammoType "flechette") (eq ammoType "arrow") (eq ammoType "bolt"))}} 
                <option value="shreddedFlesh">{{localize 'SR5.CS_AS_ShreddedFlesh'}}</option>
                {{/if}}
                {{#if (eq ammoType "tracker")}} 
                <option value="tag">{{localize 'SR5.CS_AS_Tag'}}&lrm;</option>
                {{/if}}
                {{#if (or (eq ammoType "apds")(eq ammoType "gauss"))}} 
                <option value="throughAndInto">{{localize 'SR5.CS_AS_ThroughAndInto'}}</option>
                {{/if}}
                {{#if (or (eq ammoType "av") (eq ammoType "assaultCannon"))}} 
                <option value="upTheAnte">{{localize 'SR5.CS_AS_UpTheAnte'}}</option>
                {{/if}}
            </optgroup>
            {{/if}}
            {{/select}}
        </select>
    </div>   
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="dicePoolModCalledShots" name="dicePoolModCalledShots" value="{{incomingCalledShots}}" placeholder="0" data-dtype="Number" />
    </div>
</li>

<li class="grid" style="display: none;" id="calledShotSpecificTarget">
    <div class="col-4">{{localize 'SR5.CS_Choice'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-7 SR-TextRight">
        <select class="SR-ModSelect" data-target="dicePoolModCalledShots" data-modifier="calledShotSpecificTarget">
            {{#select calledShotSpecificTarget}}
            {{#if (eq targetActorType "actorDrone")}}
            <option class="SR-LightGreyColor" value="">{{localize 'SR5.ChooseOne'}}</option>
            <option value="engineBlock">{{localize 'SR5.CS_ST_EngineBlock'}}</option>
            <option value="fuelTankBattery">&lrm;{{localize 'SR5.CS_ST_FuelTankBattery'}}&lrm;</option>
            <option value="axle">{{localize 'SR5.CS_ST_Axle'}}</option>
            <option value="antenna">{{localize 'SR5.CS_ST_Antenna'}}</option>
            <option value="doorLock">{{localize 'SR5.CS_ST_DoorLock'}}</option>
            <option value="windowMotor">{{localize 'SR5.CS_ST_WindowMotor'}}</option>
            {{else}}
            <option class="SR-LightGreyColor" value="">{{localize 'SR5.ChooseOne'}}</option>
            <option value="ankle">{{localize 'SR5.CS_ST_Ankle'}}</option>
            <option value="ear">{{localize 'SR5.CS_ST_Ear'}}</option>
            <option value="eye">{{localize 'SR5.CS_ST_Eye'}}</option>
            <option value="foot">{{localize 'SR5.CS_ST_Foot'}}</option>
            <option value="forearm">{{localize 'SR5.CS_ST_Forearm'}}</option>
            <option value="genitals">{{localize 'SR5.CS_ST_Genitals'}}</option>
            <option value="gut">{{localize 'SR5.CS_ST_Gut'}}</option>
            <option value="hand">{{localize 'SR5.CS_ST_Hand'}}</option>
            <option value="hip">{{localize 'SR5.CS_ST_Hip'}}</option>
            <option value="jaw">{{localize 'SR5.CS_ST_Jaw'}}</option>
            <option value="knee">{{localize 'SR5.CS_ST_Knee'}}</option>
            <option value="neck">{{localize 'SR5.CS_ST_Neck'}}</option>
            <option value="shin">{{localize 'SR5.CS_ST_Shin'}}</option>
            <option value="shoulder">{{localize 'SR5.CS_ST_Shoulder'}}</option>
            <option value="sternum">{{localize 'SR5.CS_ST_Sternum'}}</option>
            <option value="thigh">{{localize 'SR5.CS_ST_Thigh'}}</option>
            {{/if}}
            {{/select}}
        </select>
    </div>
    <div class="col-1"></div>
</li>