<li class="SR-PaddingTop5 grid">
    <div class="col-3 SR-DialogOption">{{localize 'SR5.Target'}}</div>
	<div class="col-8 SR-DialogOption">
		<select class="SR-ModSelect SR-ModSelectFilled" data-target="dicePoolModTargetType" data-modifier="targetEffect">
		{{#select item}}
			{{#each effectsList}}
			<option value="{{uuid}}">{{name}}</option>
			{{/each}}
		{{/select}}
		</select>
	</div> 
	<div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModTargetType" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>