<li class="SR-LigneEnTete SR-PaddingTop10 grid SR-TextUppercase">
    <div class="col-12">{{localize 'SR5.Target'}}</div>
</li>
<li class="grid">
	<div class="col-11">
		<select class="SR-ModSelect SR-ModSelectFilled" data-target="dicePoolModTargetType" data-modifier="targetEffect">
		{{#select item}}
			{{#each effectsList}}
			<option value="{{uuid}}">{{name}}</option>
			{{/each}}
		{{/select}}
		</select>
	</div> 
	<div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModTargetType" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>