{{#if (ne firingMode 'SF')}}
<li class="grid">
    <div class="col-5">{{localize 'SR5.AttackFiringMode'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6 SR-TextRight">
        <select class="SR-ModSelect SR-ModSelectFilled" data-target="dicePoolModDefenseFiringMode" data-modifier="incomingFiringMode">
            {{selectOptions lists.weaponModesCode selected=incomingFiringMode localize=true sort=false}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModDefenseFiringMode" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/if}}