<li class="grid">
    <div class="col-10">{{localize 'SR5.DefenseModInsideMovingVehicle'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModDefenseInsideVehicle" data-modifier="defenseInsideVehicle"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModDefenseInsideVehicle" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>

<li class="grid">
    <div class="col-10">{{localize 'SR5.DefenseModRunning'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModDefenseRunning" data-modifier="defenseRunning"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModDefenseRunning" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>

<li class="grid">
    <div class="col-10">{{localize 'SR5.DefenseModInMeleeTargetedByRange'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModDefenseInMelee" data-modifier="defenseInMelee"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModDefenseInMelee" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>

<li class="grid">
    <div class="col-10">{{localize 'SR5.DefenseModProneAndAttackerClose'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox SR-ModCheckboxFilled" data-target="dicePoolModDefenseProneClose" data-modifier="defenseProneClose"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModDefenseProneClose" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>

<li class="grid">
    <div class="col-10">{{localize 'SR5.DefenseModProneAndAttackerFar'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox SR-ModCheckboxFilled" data-target="dicePoolModDefenseProneFar" data-modifier="defenseProneFar"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModDefenseProneFar" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
