<li class="SR-PaddingTop5 grid">
    <div class="col-11 SR-DialogOption">{{localize 'SR5.DefenseOptions'}}</div>
</li>

<!-- DEFENSE - FIRING MODE -->
{{#if (eq test.typeSub "rangedWeapon")}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/defenseRangedModifier.html}}
{{/if}}

<!-- ACTIVE DEFENSE -->
{{#if (or (eq test.typeSub "meleeWeapon")(eq test.typeSub "ramming"))}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/defenseActiveModifier.html}}
{{/if}}

<!-- SPECIAL CASE FOR SPELL WITH AREA EFFECT-->
{{#if (eq spellRange "area")}}
    <li class="grid">
        <div class="col-10">{{localize 'SR5.DefenseModTargetedByAreaEffect'}}{{localize 'SR5.Colons'}}</div>
        <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox SR-ModCheckboxFilled" data-target="dicePoolModDefenseTargetedByArea" data-modifier="defenseTargetedByArea"></div>
        <div class="col-1 SR-TextCenter">
            <input disabled type="number" name="dicePoolModDefenseTargetedByArea" value="0" placeholder="0" data-dtype="Number" />
        </div>
    </li>
{{/if}}

<!-- COVERS -->
{{#if cover}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/coverModifier.html}}
{{/if}}

<!-- FULL DEFENSE -->
{{#if defenseFull}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/defenseFullModifier.html}}
{{/if}}