<li class="SR-LigneEnTete SR-PaddingTop10 grid SR-TextUppercase">
    <div class="col-10">{{localize 'SR5.Restraint'}}</div>
    <div class="col-2 SR-TextRight">{{localize 'SR5.Threshold'}}</div>
</li>
<li class="grid">
    <div class="col-3">{{localize 'SR5.RestraintType'}}{{localize 'SR5.Colons'}}</div> 
    <div class="col-8">
        <select class="SR-ManageThreshold" name="restraintType" data-target="restraintThreshold">
            {{selectOptions lists.restraintType selected=restraintType localize=true sort=false}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="restraintThreshold" value="2" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.RestraintTypeReinforced'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="thresholdModRestraintReinforced" data-modifier="restraintReinforced"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="thresholdModRestraintReinforced" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>