<li class="SR-LigneEnTete SR-PaddingTop10 grid SR-TextUppercase">
    <div class="col-10">{{localize 'SR5.Restraint'}}</div>
    <div class="col-2 SR-TextRight">{{localize 'SR5.Threshold'}}</div>
</li>
<li class="grid">
    <div class="col-3">{{localize 'SR5.RestraintType'}}{{localize 'SR5.Colons'}}</div> 
    <div class="col-8">
        <select name="restraintType">
        {{#select restraintType}}
            <option value="rope">{{localize 'SR5.RestraintTypeRope'}}</option>
            <option value="metal">{{localize 'SR5.RestraintTypeMetal'}}</option>
            <option value="straitjacket">{{localize 'SR5.RestraintTypeStraitjacket'}}</option>
            <option value="containment">{{localize 'SR5.RestraintTypeContainment'}}</option>
        {{/select}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="" name="restraintThreshold" value="2" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-9">{{localize 'SR5.RestraintTypeReinforced'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2">
        <select name="restraintReinforced">
            {{#select restraintReinforced}}
                <option value="false">{{localize 'SR5.No'}}</option> 
                <option value="true">{{localize 'SR5.Yes'}}</option>   
            {{/select}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="" name="restraintReinforcedMod" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>