<!-- EXTENDED TEST -->
<li class="grid SR-LigneEnTete SR-TextUppercase SR-PaddingTop10">
    <div class="col-11">{{localize 'SR5.ExtendedTest'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="toggleExtendedTest"></div>
</li>

<li class="grid" id="extendedBlock" style="display: none;">
    <div class="col-7">{{localize 'SR5.Interval'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1"><input type="number" name="extendedMultiplier" value="{{extendedMultiplier}}" data-dtype="Number" placeholder="0" /></div>
    <div class="col-4">
        <select name="extendedTime">
            {{selectOptions lists.extendedIntervals selected=extendedTime localize=true sort=false}}
        </select>
    </div>
</li>