<li class="SR-LigneEnTete SR-PaddingTop10 grid SR-TextUppercase">
    <div class="col-10">{{localize 'SR5.Force'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight">
		<a class="SR-ModControl" data-target="force" data-type="minus" data-modifier="various"><em class="fas fa-minus-circle"></em></a>
		<a class="SR-ModControl" data-target="force" data-type="plus" data-modifier="various"><em class="fas fa-plus-circle"></em></a>
	</div>
    <div class="col-1 SR-TextCenter">
        <input type="number" class="SR-ModInput SR-ModInputFilled" data-modifier="force" name="force" value="{{force}}" data-dtype="Number" placeholder="0" />
    </div>
</li>