<li class="SR-LigneEnTete SR-PaddingTop10 grid SR-TextUppercase">
    <div class="col-11">{{localize 'SR5.Limit'}}</div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="" name="modifiedLimit" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid" hidden>
    <div class="col-1 SR-TextCenter" hidden><input disabled hidden type="number" class="" name="baseLimit" value="{{limit}}" placeholder="0" data-dtype="Number" /></div>
</li>
<!-- BASE LIMIT -->
<li class="grid">
    <div class="col-11">{{localize 'SR5.LimitBase'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter ">
        <input disabled type="number" name="baseLimit" value="{{limit}}" placeholder="0" data-dtype="Number" />
    </div>
</li>

<!-- VARIOUS MODIFIER -->
<li class="grid">
    <div class="col-11">{{localize 'SR5.LimitModifiers'}}</div>
    <div class="col-1 SR-TextCenter ">
        <input type="number" class="limitModifier" name="limitModVarious" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>
<!-- PERCEPTION -->
{{#ife typeSub "perception"}}
<li class="grid">
    <div class="col-11">{{localize 'SR5.SkillPerceptionType'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter ">
        <input disabled type="number" name="limitModPerception" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/ife}}