<li class="SR-LigneEnTete SR-PaddingTop10 grid SR-TextUppercase">
    <div class="col-11">{{localize 'SR5.Limit'}}</div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="" name="modifiedLimit" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid" hidden>
    <div class="col-1 SR-TextCenter" hidden><input disabled hidden type="number" class="" name="baseLimit" value="{{limit}}" placeholder="0" data-dtype="Number" /></div>
</li>
<li class="grid">
    <div class="col-11">{{localize 'SR5.LimitModifiers'}}</div>
    <div class="col-1 SR-TextCenter ">
        <input type="number" class="limitModifier" name="limitModVarious" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>