{{#if rulesMatrixGrid}}
<li class="grid hideMatrixNoise">
    <div class="col-5">{{localize 'SR5.GridTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6 SR-PaddingRight10">
        <select  name="targetGrid">
            {{#select targetGrid}}
                <option value="none">{{localize 'SR5.ChooseOne'}}</option>
                {{#each lists.gridTypes}}
                    <option value="{{@key}}">{{localize this}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number"  name="dicePoolModGridTarget" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/if}}