<li class="grid SR-TopSeparator">
    <li class="grid">
        <div class="col-5">{{localize 'SR5.MatrixSearchInformationType'}}{{localize 'SR5.Colons'}}</div>
        <div class="col-7">
            <select class="" name="searchType">
                {{#select searchType}}
                    <option value="general">{{localize 'SR5.MatrixSearchInfoTypeGeneral'}} (1)</option>
                    <option value="limited">{{localize 'SR5.MatrixSearchInfoTypeLimited'}} (3)</option>
                    <option value="hidden">{{localize 'SR5.MatrixSearchInfoTypeHidden'}} (6)</option>
                {{/select}}
            </select>
        </div>
    </li>
</li>