<li class="SR-PaddingTop5 grid">
    <div class="col-11 SR-DialogOption">Options d'Action matricielle</div>
</li>

<!-- NOISE -->
{{> systems/sr5/templates/rolls/rollDialogPartial/matrixNoiseModifier.html}}

<!-- GRID -->
{{#if switch.publicGrid}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/matrixGrid.html}}
{{/if}}
{{> systems/sr5/templates/rolls/rollDialogPartial/matrixTargetGrid.html}}


<!-- MARKS WANTED -->
{{#if (or (eq typeSub "hackOnTheFly") (eq typeSub "bruteForce"))}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/markModifier.html}}
{{/if}}