<!-- DISTANCE NOISE -->
<li class="grid">
    <div class="col-5">{{localize 'SR5.MatrixNoiseRange'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6 SR-TextRight">
        <select class="SR-ModSelect" data-target="dicePoolModMatrixNoiseRange" data-modifier="matrixRange">
            {{#select matrixRange}}
            <option value="wired">{{localize 'SR5.MatrixDistanceConnected'}}</option>
            <option value="upTo100m">{{localize 'SR5.MatrixDistance100m'}}</option>
            <option value="upTo1km">{{localize 'SR5.MatrixDistance1km'}}</option>
            <option value="upTo10km">{{localize 'SR5.MatrixDistance10km'}}</option>
            <option value="upTo100km">{{localize 'SR5.MatrixDistance100km'}}</option>
            <option value="farAway">{{localize 'SR5.MatrixDistanceGreater'}}</option>
            {{/select}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModMatrixNoiseRange" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>

<!-- SCENE NOISE -->
{{#if (lt matrix.noiseScene 0)}}
<li class="grid" id="matrixNoiseScene" style="display: none;">
    <div class="col-5">{{localize 'SR5.SceneNoiseRating'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="SR-ModInputFilled" data-modifier="matrixSceneNoise" value="{{matrix.noiseScene}}" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/if}}

<!-- PERSONAL NOISE -->
<li class="grid" id="matrixNoiseActor" style="display: none;">
    <div class="col-5">{{localize 'SR5.PersonalMatrixNoise'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="SR-ModInputFilled" data-modifier="matrixActorNoise" value="{{matrix.personalNoise}}" placeholder="0" data-dtype="Number" />
    </div>
</li>

<!-- NOISE REDUCTION -->
<li class="grid" id="matrixNoiseReduction" style="display: none;">
    <div class="col-5">{{localize 'SR5.NoiseReduction'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="SR-ModInputFilled" data-modifier="matrixNoiseReduction" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>

<!-- TOTAL NOISE (Hidden)-->
<li hidden>
    <div hidden class="col-1 SR-TextCenter">
        <input hidden disabled type="number" name="matrixNoise" value="" placeholder="0" data-dtype="Number" />
    </div>
</li>