<!-- MODIFIERS -->
<li class="grid SR-LigneEnTete SR-TextUppercase SR-PaddingTop10">
    <div class="col-11">
        {{localize 'SR5.Modifiers'}}
        <a class="SR-DialogToggle" data-target="dicePoolModifier" data-action="show"><i class="fas fa-angle-down SR-SubColor"></i></a>
		<a class="SR-DialogToggle" data-target="dicePoolModifier" data-action="hide" style="display: none;"><i class="fas fa-angle-up SR-SubColor"></i></a>
    </div>
    <div class="col-1 SR-TextCenter">
		<input disabled type="number" name="dicePoolModifiers" value="0" data-dtype="Number" placeholder="0" />
	</div>
</li>
<!-- CUSTOM MODIFIER-->
{{> systems/sr5/templates/rolls/rollDialogPartial/customModifier.html}}

<div id="dicePoolModifier" style="display: none;">
    <!-- ALREADY APPLIED MODIFIERS-->
    {{#each dicePool.modifiers}}
    {{#if (ne value 0)}}
    <li class="grid">
        <div class="col-11">{{label}}{{localize 'SR5.Colons'}}</div>
        <div class="col-1 SR-TextCenter">{{#if (gt value 0)}}+{{/if}}{{value}}</div>
    </li>
    {{/if}}
    {{/each}}

    <!-- ATTRIBUTE CHOICE -->
    {{#if dialogSwitch.attribute}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/attributeChoice.html}}
    {{/if}}

    <!-- WOUND MODIFIER-->
    {{#if dialogSwitch.penalty}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/woundModifier.html}}
    {{/if}}

    <!-- SPECIALIZATION -->
    {{#if dialogSwitch.specialization}}
        {{> systems/sr5/templates/rolls/rollDialogPartial/specializationModifier.html}}
    {{/if}}

    <!-- ENVIRONMENTAL MODIFIERS -->
    {{#if (and (eq test.type "attack") (eq test.typeSub "rangedWeapon")) }}
        {{> systems/sr5/templates/rolls/rollDialogPartial/environmentalModifiers.html}}
    {{/if}}

    <!-- ATTACK - VARIOUS RANGED MODIFIERS -->
	{{#if (and (eq test.type "attack") (eq test.typeSub "rangedWeapon"))}}
        {{> systems/sr5/templates/rolls/rollDialogPartial/attackRangedModifier.html}}
    {{/if}}

    <!-- ATTACK - VARIOUS MELEE MODIFIERS -->
    {{#if (and (eq test.type "attack") (eq test.typeSub "meleeWeapon"))}}
        {{> systems/sr5/templates/rolls/rollDialogPartial/meleeModifier.html}}
    {{/if}}

    <!-- SPECIFIC SKILL TEST -->
    {{#if (or (eq test.type 'skill') (eq test.type 'skillDicePool'))}}
        <!-- PERCEPTION -->
        {{#if (eq test.typeSub "perception")}}
            {{> systems/sr5/templates/rolls/rollDialogPartial/perceptionType.html}}
        {{/if}}
        <!-- MEDECINE && FIRST AID -->
        {{#if (or (eq test.typeSub "medecine") (eq test.typeSub "firstAid"))}}
            {{> systems/sr5/templates/rolls/rollDialogPartial/healingModifier.html}}
        {{/if}}
        <!-- ESCAPE ARTIST -->
        {{#if (eq test.typeSub "escapeArtist")}}
            {{> systems/sr5/templates/rolls/rollDialogPartial/escapeArtistModifier.html}}
        {{/if}}
        <!-- SURVIVAL -->
        {{#if (eq test.typeSub "survival")}}
            {{> systems/sr5/templates/rolls/rollDialogPartial/survivalModifier.html}}
        {{/if}}
        <!--ETIQUETTE / CON / INTIMIDATION / LEADERSHIP / NEGOCIATION / Impersonation / Performance -->
        {{#if (or (eq test.typeSub "etiquette") (eq test.typeSub "con") (eq test.typeSub "intimidation") (eq test.typeSub "leadership") (eq test.typeSub "negociation") (eq test.typeSub "impersonation") (eq test.typeSub "performance"))}}
            {{> systems/sr5/templates/rolls/rollDialogPartial/socialModifier.html}}
        {{/if}}
        <!-- AERONAUTICS MECHANIC / ARMORER / AUTOMOTIVE MECHANIC  /CYBERTECHNOLOGY / FORGERY / HARDWARE / INDUSTRIAL MECHANIC / NAUTICAL MECHANIC -->
        {{#if (or (eq test.typeSub "aeronauticsMechanic") (eq test.typeSub "armorer") (eq test.typeSub "automotiveMechanic") (eq test.typeSub "cybertechnology") (eq test.typeSub "forgery") (eq test.typeSub "hardware") (eq test.typeSub "industrialMechanic") (eq test.typeSub "nauticalMechanic") )}}
            {{> systems/sr5/templates/rolls/rollDialogPartial/buildingModifier.html}}
        {{/if}}
    {{/if}}

    <!-- SPELLS - FORCE - BACKGROUND COUNT -->
    {{#if (or (eq test.type "spell") (eq test.type "preparationFormula") (eq test.type "preparation") (eq test.type "ritual") (eq test.type "power") )}}
        {{> systems/sr5/templates/rolls/rollDialogPartial/backgroundCountModifier.html}}
    {{/if}}

    <!-- SUMMONING SPIRIT TYPE -->
	{{#if (eq test.typeSub "summoning")}}
    <li class="grid">
        <div class="col-11">{{localize 'SR5.SpiritType'}}{{localize 'SR5.Colons'}}</div>
        <div class="col-1 SR-TextCenter">
            <input disabled type="number" name="dicePoolModSpiritType" value="" placeholder="0" data-dtype="Number" />
        </div>
    {{/if}}

    <!-- SPIRIT AID -->
    {{#if dialogSwitch.spiritAid}}
        {{> systems/sr5/templates/rolls/rollDialogPartial/spiritAidModifier.html}}
    {{/if}}

    <!-- TARGET TYPE MODIFIERS -->
    {{#if (eq test.typeSub "binding")}}
        {{> systems/sr5/templates/rolls/rollDialogPartial/targetTypeModifier.html}}
    {{/if}}

     <!-- ARMOR PENETRATION -->
    {{#if (or (and (eq test.type "resistanceCard") (eq test.typeSub "physicalDamage") ) (eq test.type 'accidentCard') (eq test.type "resistFire") )}}
		{{> systems/sr5/templates/rolls/rollDialogPartial/armorPenetrationModifier.html}}
	{{/if}}

    <!-- DEFENSE MODIFIERS -->
    {{#if (eq test.type "defenseCard")}}
        {{#if (eq test.typeSub "rangedWeapon")}}
            {{> systems/sr5/templates/rolls/rollDialogPartial/defenseRangedModifiers.html}}
        {{/if}}
        {{#if (eq test.typeSub "meleeWeapon")}}
            {{> systems/sr5/templates/rolls/rollDialogPartial/defenseMeleeModifier.html}}
        {{/if}}
    {{/if}}

    <!-- CUMULATIVE DEFENSE -->
    {{#if_g cumulativeDefense 0}}
        {{> systems/sr5/templates/rolls/rollDialogPartial/defenseCumulativeModifier.html}}
    {{/if_g}}

    <!-- SENSOR LOCK -->
    {{#if dialogSwitch.isSensorLocked}}
        {{> systems/sr5/templates/rolls/rollDialogPartial/sensorLock.html}}
    {{/if}}

</div>

<!-- SIGNATURE TARGETING -->
{{#if (eq test.type "activeSensorTargeting")}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/signature.html}}
{{/if}}

<!-- CENTERING METAMAGIC -->
{{#if dialogSwitch.centering}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/centering.html}}
{{/if}}