{{#unless test.isOpposed}}
<li class="SR-LigneEnTete SR-PaddingTop10 grid SR-TextUppercase">
    <div class="col-10">{{localize 'SR5.PerceptionThreshold'}}</div>
    <div class="col-2 SR-TextRight">{{localize 'SR5.Threshold'}}</div>
</li>
<li class="grid">
    <div class="col-5">{{localize 'SR5.PerceptionThresholdType'}}{{localize 'SR5.Colons'}}</div> 
    <div class="col-6">
        <select class="SR-ManageThreshold" name="perceptionThresholdType" data-target="perceptionThreshold">
            {{selectOptions lists.perceptionThresholdType selected=perceptionThresholdType localize=true sort=false}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number"  name="perceptionThreshold" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/unless}}