<li class="SR-LigneEnTete SR-PaddingTop10 grid SR-TextUppercase">
    <div class="col-12">{{localize 'SR5.PreparationFormulaOptions'}}</div>
</li>

<!--FORCE-->
{{> systems/sr5/templates/rolls/rollDialogPartial/force.html}}

<!-- PREPARATION TRIGGER -->
{{> systems/sr5/templates/rolls/rollDialogPartial/preparationTrigger.html}}

<!-- SPIRIT AID -->
{{#if dialogSwitch.spiritAid}}
    {{> systems/sr5/templates/rolls/rollDialogPartial/spiritAidCommand.html}}
{{/if}}

<!--REAGENTS-->
{{#if dialogSwitch.reagents}}
      {{> systems/sr5/templates/rolls/rollDialogPartial/reagents.html}}
{{/if}}