<li class="grid">
    <div class="col-11">{{localize 'SR5.Armor'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="" name="armor" value="{{armor}}" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-11">{{localize 'SR5.ArmorPenetrationShort'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" class="" name="incomingPA" value="{{incomingPA}}" placeholder="0" data-dtype="Number" />
    </div>
</li>