<!-- General Modifiers-->
{{#unless test.isOpposed}}
<li class="grid">
    <div class="col-7 SR-TopSeparator">{{localize 'SR5.SocialModAttitude'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-4 SR-TopSeparator SR-TextRight">
        <select class="SR-ModSelect SR-ModSelectFilled" data-target="dicePoolModSocialAttitude" data-modifier="socialAttitude">
            {{#select socialAttitude}}
                <option value="friendly">{{localize 'SR5.SocialModAttitudeFriendly'}}</option>
                <option value="neutral" selected="selected">{{localize 'SR5.SocialModAttitudeNeutral'}}</option>
                <option value="suspicious">{{localize 'SR5.SocialModAttitudeSuspicious'}}</option>
                <option value="prejudiced">{{localize 'SR5.SocialModAttitudePrejudiced'}}</option>
                <option value="hostile">{{localize 'SR5.SocialModAttitudeHostile'}}</option>
                <option value="enemy">{{localize 'SR5.SocialModAttitudeEnemy'}}</option>
            {{/select}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialAttitude" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-6">{{localize 'SR5.SocialModDesiredResult'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-5 SR-TextRight">
        <select class="SR-ModSelect SR-ModSelectFilled" data-target="dicePoolModSocialResult" data-modifier="socialResult">
            {{#select socialResult}}
                <option value="advantageous">{{localize 'SR5.SocialModDesiredResultAdvantageous'}}</option>
                <option value="ofNoValue" selected="selected">{{localize 'SR5.SocialModDesiredResultOfNoValue'}}</option>
                <option value="annoying">{{localize 'SR5.SocialModDesiredResultAnnoying'}}</option>
                <option value="harmful">{{localize 'SR5.SocialModDesiredResultHarmful'}}</option>
                <option value="disastrous">{{localize 'SR5.SocialModDesiredResultDisastrous'}}</option>
            {{/select}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialResult" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModReputation'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialReputation" data-modifier="socialReputation"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialReputation" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModReputationTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight">
		<a class="SR-ModControl" data-target="dicePoolModSocialReputationTarget" data-type="minus" data-modifier="socialReputationTarget"><em class="fas fa-minus-circle"></em></a>
		<a class="SR-ModControl" data-target="dicePoolModSocialReputationTarget" data-type="plus" data-modifier="socialReputationTarget"><em class="fas fa-plus-circle"></em></a>
	</div>
    <div class="col-1 SR-TextCenter">
        <input class="SR-ModInput" type="number" name="dicePoolModSocialReputationTarget" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
{{/unless}}
{{#if test.isOpposed}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModAce'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialAce" data-modifier="socialAce"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialAce" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/if}}
{{#unless test.isOpposed}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModRomantic'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialRomantic" data-modifier="socialRomantic"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialRomantic" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModIntoxicated'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialIntoxicated" data-modifier="socialIntoxicated"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialIntoxicated" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/unless}}

<!-- Con Modifiers-->
{{#if (eq test.typeSub 'con')}}
{{#unless test.isOpposed}}
<li class="grid">
    <div class="col-10 SR-TopSeparator">{{localize 'SR5.SocialModEvidence'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TopSeparator SR-TextRight">
		<a class="SR-ModControl" data-target="dicePoolModSocialEvidence" data-type="minus" data-modifier="socialEvidence"><em class="fas fa-minus-circle"></em></a>
		<a class="SR-ModControl" data-target="dicePoolModSocialEvidence" data-type="plus" data-modifier="socialEvidence"><em class="fas fa-plus-circle"></em></a>
	</div>
    <div class="col-1 SR-TextCenter">
        <input class="SR-ModInput" data-modifier="socialEvidence" type="number" name="dicePoolModSocialEvidence" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModIsDistracted'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialIsDistracted" data-modifier="socialIsDistracted"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialIsDistracted" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModEvaluateSituation'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialEvaluateSituation" data-modifier="socialEvaluateSituation"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialEvaluateSituation" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/unless}}
{{/if}}

<!-- Etiquette Modifiers-->
{{#if (eq test.typeSub 'etiquette')}}
{{#unless test.isOpposed}}
<li class="grid">
    <div class="col-10 SR-TopSeparator">{{localize 'SR5.SocialModBadLook'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TopSeparator SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialBadLook" data-modifier="socialBadLook"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialBadLook" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModNervous'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialNervous" data-modifier="socialNervous"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialNervous" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/unless}}

{{/if}}

<!-- Intimidation Modifiers-->
{{#if (eq test.typeSub 'intimidation')}}
{{#unless test.isOpposed}}
<li class="grid">
    <div class="col-10 SR-TopSeparator">{{localize 'SR5.SocialModImposing'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TopSeparator SR-TextRight">
		<a class="SR-ModControl" data-target="dicePoolModSocialImposing" data-type="minus" data-modifier="socialImposing"><em class="fas fa-minus-circle"></em></a>
		<a class="SR-ModControl" data-target="dicePoolModSocialImposing" data-type="plus" data-modifier="socialImposing"><em class="fas fa-plus-circle"></em></a>
	</div>
    <div class="col-1 SR-TextCenter">
        <input class="SR-ModInput" data-modifier="socialImposing" type="number" name="dicePoolModSocialImposing" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModImposingTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight">
		<a class="SR-ModControl" data-target="dicePoolModSocialImposingTarget" data-type="minus" data-modifier="socialImposingTarget"><em class="fas fa-minus-circle"></em></a>
		<a class="SR-ModControl" data-target="dicePoolModSocialImposingTarget" data-type="plus" data-modifier="socialImposingTarget"><em class="fas fa-plus-circle"></em></a>
	</div>
    <div class="col-1 SR-TextCenter">
        <input class="SR-ModInput" data-modifier="socialImposingTarget" type="number" name="dicePoolModSocialImposingTarget" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModOutnumber'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialOutnumber" data-modifier="socialOutnumber"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialOutnumber" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModOutnumberTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialOutnumberTarget" data-modifier="socialOutnumberTarget"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialOutnumberTarget" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModWieldingWeapon'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialWieldingWeapon" data-modifier="socialWieldingWeapon"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialWieldingWeapon" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModWieldingWeaponTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialWieldingWeaponTarget" data-modifier="socialWieldingWeaponTarget"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialWieldingWeaponTarget" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModTorture'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialTorture" data-modifier="socialTorture"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialTorture" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/unless}}
{{#if test.isOpposed}}
<li class="grid">
    <div class="col-10 SR-TopSeparator">{{localize 'SR5.SocialModObliviousToDanger'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TopSeparator SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialObliviousToDanger" data-modifier="socialObliviousToDanger"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialObliviousToDanger" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
{{/if}}
{{/if}}

<!-- Leadership Modifiers-->
{{#if (eq test.typeSub 'leadership')}}
{{#unless test.isOpposed}}
<li class="grid">
    <div class="col-10 SR-TopSeparator">{{localize 'SR5.SocialModRank'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight SR-TopSeparator">
		<a class="SR-ModControl" data-target="dicePoolModSocialRank" data-type="minus" data-modifier="socialRank"><em class="fas fa-minus-circle"></em></a>
		<a class="SR-ModControl" data-target="dicePoolModSocialRank" data-type="plus" data-modifier="socialRank"><em class="fas fa-plus-circle"></em></a>
	</div>
    <div class="col-1 SR-TextCenter">
        <input class="SR-ModInput" data-modifier="socialRank" type="number" name="dicePoolModSocialRank" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModRankTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight">
		<a class="SR-ModControl" data-target="dicePoolModSocialRankTarget" data-type="minus" data-modifier="socialRankTarget"><em class="fas fa-minus-circle"></em></a>
		<a class="SR-ModControl" data-target="dicePoolModSocialRankTarget" data-type="plus" data-modifier="socialRankTarget"><em class="fas fa-plus-circle"></em></a>
	</div>
    <div class="col-1 SR-TextCenter">
        <input class="SR-ModInput" data-modifier="socialRankTarget" type="number" name="dicePoolModSocialRankTarget" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModAuthority'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialAuthority" data-modifier="socialAuthority"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialAuthority" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModStrata'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight">
		<a class="SR-ModControl" data-target="dicePoolModSocialStrata" data-type="minus" data-modifier="socialStrata"><em class="fas fa-minus-circle"></em></a>
		<a class="SR-ModControl" data-target="dicePoolModSocialStrata" data-type="plus" data-modifier="socialStrata"><em class="fas fa-plus-circle"></em></a>
	</div>
    <div class="col-1 SR-TextCenter">
        <input class="SR-ModInput" data-modifier="socialStrata" type="number" name="dicePoolModSocialStrata" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModFan'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialFan" data-modifier="socialFan"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialFan" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
{{/unless}}
{{/if}}

<!-- Negociation Modifiers-->
{{#if (eq test.typeSub 'negociation')}}
<li class="grid">
    <div class="col-10 SR-TopSeparator">{{localize 'SR5.SocialModLacksKnowledge'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TopSeparator SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialLacksKnowledge" data-modifier="socialLacksKnowledge"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialLacksKnowledge" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModBlackmailed'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextRight"><input type="checkbox" class="SR-ModCheckbox" data-target="dicePoolModSocialBlackmailed" data-modifier="socialBlackmailed"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialBlackmailed" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
{{/if}}