<!-- General Modifiers-->
{{#unless opposedSkillTest}}
<li class="grid">
    <div class="col-7">{{localize 'SR5.SocialModAttitude'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-4 SR-PaddingRight10">
        <select name="socialAttitude">
            {{#select socialAttitude}}
                <option value="friendly">{{localize 'SR5.SocialModAttitudeFriendly'}}</option>
                <option value="neutral" selected="selected">{{localize 'SR5.SocialModAttitudeNeutral'}}</option>
                <option value="suspicious">{{localize 'SR5.SocialModAttitudeSuspicious'}}</option>
                <option value="prejudiced">{{localize 'SR5.SocialModAttitudePrejudiced'}}</option>
                <option value="hostile">{{localize 'SR5.SocialModAttitudeHostile'}}</option>
                <option value="enemy">{{localize 'SR5.SocialModAttitudeEnemy'}}</option>
            {{/select}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number"  name="dicePoolModSocialAttitude" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-6">{{localize 'SR5.SocialModDesiredResult'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-5 SR-PaddingRight10">
        <select name="socialResult">
            {{#select socialResult}}
                <option value="advantageous">{{localize 'SR5.SocialModDesiredResultAdvantageous'}}</option>
                <option value="ofNoValue" selected="selected">{{localize 'SR5.SocialModDesiredResultOfNoValue'}}</option>
                <option value="annoying">{{localize 'SR5.SocialModDesiredResultAnnoying'}}</option>
                <option value="harmful">{{localize 'SR5.SocialModDesiredResultHarmful'}}</option>
                <option value="disastrous">{{localize 'SR5.SocialModDesiredResultDisastrous'}}</option>
            {{/select}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number"  name="dicePoolModSocialResult" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModReputation'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialReputation"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialReputation" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-11">{{localize 'SR5.SocialModReputationTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter">
        <input type="number" name="dicePoolModSocialReputationTarget" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
{{/unless}}
{{#if opposedSkillTest}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModAce'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialAce"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialAce" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/if}}
{{#unless opposedSkillTest}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModRomantic'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialRomantic"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialRomantic" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModIntoxicated'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialIntoxicated"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialIntoxicated" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/unless}}

<!-- Con Modifiers-->
{{#if (eq typeSub 'con')}}
{{#unless opposedSkillTest}}
<li class="grid">
    <div class="col-11">{{localize 'SR5.SocialModEvidence'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter">
        <input type="number" name="dicePoolModSocialEvidence" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModIsDistracted'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialIsDistracted"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialIsDistracted" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModEvaluateSituation'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialEvaluateSituation"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialEvaluateSituation" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/unless}}
{{/if}}

<!-- Etiquette Modifiers-->
{{#if (eq typeSub 'etiquette')}}
{{#unless opposedSkillTest}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModBadLook'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialBadLook"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialBadLook" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModNervous'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialNervous"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialNervous" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/unless}}

{{/if}}

<!-- Intimidation Modifiers-->
{{#if (eq typeSub 'intimidation')}}
{{#unless opposedSkillTest}}
<li class="grid">
    <div class="col-11">{{localize 'SR5.SocialModImposing'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter">
        <input type="number" name="dicePoolModSocialImposing" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-11">{{localize 'SR5.SocialModImposingTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter">
        <input type="number" name="dicePoolModSocialImposingTarget" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModOutnumber'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialOutnumber"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialOutnumber" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModOutnumberTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialOutnumberTarget"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialOutnumberTarget" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModWieldingWeapon'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialWieldingWeapon"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialWieldingWeapon" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModWieldingWeaponTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialWieldingWeaponTarget"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialWieldingWeaponTarget" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModTorture'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialTorture"></div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSocialTorture" value="0" placeholder="0" data-dtype="Number" />
    </div>
</li>
{{/unless}}
{{#if opposedSkillTest}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModObliviousToDanger'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialObliviousToDanger"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialObliviousToDanger" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
{{/if}}
{{/if}}

<!-- Leadership Modifiers-->
{{#if (eq typeSub 'leadership')}}
{{#unless opposedSkillTest}}
<li class="grid">
    <div class="col-11">{{localize 'SR5.SocialModRank'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter">
        <input type="number" name="dicePoolModSocialRank" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-11">{{localize 'SR5.SocialModRankTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter">
        <input type="number" name="dicePoolModSocialRankTarget" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModAuthority'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialAuthority"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialAuthority" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
<li class="grid">
    <div class="col-11">{{localize 'SR5.SocialModStrata'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter">
        <input type="number" name="dicePoolModSocialStrata" value="0" data-dtype="Number" placeholder="0" />
    </div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModFan'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialFan"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialFan" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
{{/unless}}
{{/if}}

<!-- Negociation Modifiers-->
{{#if (eq typeSub 'negociation')}}
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModLacksKnowledge'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialLacksKnowledge"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialLacksKnowledge" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
<li class="grid">
    <div class="col-10">{{localize 'SR5.SocialModBlackmailed'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-1 SR-TextCenter"><input type="checkbox" name="socialBlackmailed"></div>
    <div class="col-1 SR-TextCenter"><input disabled type="number" name="dicePoolModSocialBlackmailed" value="0" placeholder="0" data-dtype="Number" /></div>
</li>
{{/if}}