<li class="grid">
    <div class="col-9">{{localize 'SR5.Specialization'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-2">
        <select class="specialization" name="specialization">
        {{#select spécial}}
            <option value="">{{localize 'SR5.No'}}</option>
            <option value="true">{{localize 'SR5.Yes'}}</option>
        {{/select}}
        </select>
    </div>
    <div class="col-1 SR-TextCenter">
        <input disabled type="number" name="dicePoolModSpecialization" value="" placeholder="0" data-dtype="Number" />
    </div>
  </li>