<li class="grid" style="display: none;" id="incomingSpecificTarget">
    <div class="col-5">{{localize 'SR5.CS_SpecificTarget'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-7 SR-PaddingRight10">
        <select class="incomingSpecificTarget" name="incomingSpecificTarget" data-dtype="String">
            {{#select incomingSpecificTarget}}
            <option class="SR-LightGreyColor" value="noChoice">{{localize 'SR5.ChooseOne'}}</option>
            <option value="CS_ST_Ankle">{{localize 'SR5.CS_ST_Ankle'}}</option>
            <option value="CS_ST_Ear">{{localize 'SR5.CS_ST_Ear'}}</option>
            <option value="CS_ST_Eye">{{localize 'SR5.CS_ST_Eye'}}</option>
            <option value="CS_ST_Foot">{{localize 'SR5.CS_ST_Foot'}}</option>
            <option value="CS_ST_Forearm">{{localize 'SR5.CS_ST_Forearm'}}</option>
            <option value="CS_ST_Genitals">{{localize 'SR5.CS_ST_Genitals'}}</option>
            <option value="CS_ST_Gut">{{localize 'SR5.CS_ST_Gut'}}</option>
            <option value="CS_ST_Hand">{{localize 'SR5.CS_ST_Hand'}}</option>
            <option value="CS_ST_Hip">{{localize 'SR5.CS_ST_Hip'}}</option>
            <option value="CS_ST_Jaw">{{localize 'SR5.CS_ST_Jaw'}}</option>
            <option value="CS_ST_Knee">{{localize 'SR5.CS_ST_Knee'}}</option>
            <option value="CS_ST_Neck">{{localize 'SR5.CS_ST_Neck'}}</option>
            <option value="CS_ST_Shin">{{localize 'SR5.CS_ST_Shin'}}</option>
            <option value="CS_ST_Shoulder">{{localize 'SR5.CS_ST_Shoulder'}}</option>
            <option value="CS_ST_Sternum">{{localize 'SR5.CS_ST_Sternum'}}</option>
            <option value="CS_ST_Thigh">{{localize 'SR5.CS_ST_Thigh'}}</option>
            {{/select}}
        </select>
    </div>
</li>
