<li class="grid">
    <div class="col-5">{{localize 'SR5.SpiritType'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6 SR-TextRight">
        <select class="SR-ModSelect SR-ModSelectFilled" data-target="dicePoolModSpiritType" data-modifier="spiritType">
            {{#ifne actorTradition ''}}
            {{#select espritType}}
                {{#each elements}}
                <option value="{{this}}">{{findTranslation "spiritTypes" this}}</option>
                {{/each}}
            {{/select}}
            {{else}}
            {{#select espritType}}
                {{#each lists.spiritTypes}}
                <option value="{{@key}}">{{findTranslation "spiritTypes" @key}}</option>
                {{/each}}
            {{/select}}
            {{/ifne}}
        </select>
    </div>
</li>