<li class="grid">
    <div class="col-5">{{localize 'SR5.SpiritType'}}{{localize 'SR5.Colons'}}</div>
    <div class="col-6 SR-TextRight">
        <select class="SR-ModSelect SR-ModSelectFilled" data-target="dicePoolModSpiritType" data-modifier="spiritType">
            {{#ifne actorTradition ''}}
                {{selectOptions magic.elements selected=espritType localize=true sort=false}}
            {{else}}
                {{selectOptions lists.spiritTypes selected=espritType localize=true sort=true}}
            {{/ifne}}
        </select>
    </div>
</li>