<div class="sr5 chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" data-token-id="{{tokenId}}">
	<header class="SR-CardHeader flexrow" title="{{localize 'SR5.ClickForDetails'}}">
    	<div class="SR-CardHeaderTitle grid">
      		<div class="col-auto align-self-center">{{test.title}}</div>
    	</div>
  	</header>

  	<div class="SR-CardContent owner">
    	<ul>
		<li>
			<div class="SR-CardDices">
			{{#each roll.dices as |dice d|}}
				{{#if dice.success}}
				<div class="SR-Dice succes {{#if dice.exploded}}exploded{{/if}} {{#if dice.edge}}edge{{/if}}">{{dice.result}}</div>
				{{else}}
				{{#if dice.glitch}}
					<div class="SR-Dice glitch {{#if dice.edge}}edge{{/if}}">{{dice.result}}</div>
				{{else}}
					<div class="SR-Dice echec {{#if dice.edge}}edge{{/if}}">{{dice.result}}</div>
				{{/if}}
				{{/if}}
			{{/each}}
			</div>
		</li>
      
		<!--Dicepool Mod-->
		{{> systems/sr5/templates/rolls/rollCardPartial/dicePoolRoll.html}}
		<!--Attack Infos-->
		{{#if (or (eq test.type 'attack')(eq test.type 'ramming')(eq test.type 'accidentCard'))}}
			{{> systems/sr5/templates/rolls/rollCardPartial/attackRoll.html}}
		{{/if}}
		<!--Drain info-->
		{{#if (or (eq test.type 'spell') (eq test.type 'preparationFormula') (eq test.type 'ritualResistance'))}}
			{{> systems/sr5/templates/rolls/rollCardPartial/drainRoll.html}}
		{{/if}}
		<!--Summoning info-->
		{{#if (or (eq test.typeSub 'summoning') (eq test.typeSub 'compileSprite') )}}
			{{> systems/sr5/templates/rolls/rollCardPartial/summoningRoll.html}}
		{{/if}}
		<!--Matrix damage info-->
		{{#if (eq test.typeSub 'dataSpike')}}
			{{> systems/sr5/templates/rolls/rollCardPartial/matrixDamageRoll.html}}
		{{/if}}
		{{#if (and (eq test.type 'iceDefense') (or (eq iceType 'iceBlaster') ) )}}
			{{> systems/sr5/templates/rolls/rollCardPartial/matrixDamageRoll.html}}
		{{/if}}
		<!--Limit info-->
		{{#if (gt limit.value 0)}}
			{{> systems/sr5/templates/rolls/rollCardPartial/limitRoll.html}}
		{{/if}}
		<!--Assensing info-->
		{{#if (eq test.typeSub 'assensing')}}
			{{> systems/sr5/templates/rolls/rollCardPartial/assensingRoll.html}}
		{{/if}}
		<!--Threshold infos-->
		{{#if (or (eq test.typeSub 'escapeArtist') (and (eq test.typeSub 'perception') (ne thresholdType 'opposed')) (eq test.typeSub 'survival') (gt threshold 0))}}
			{{#unless test.isOpposed}}
			{{> systems/sr5/templates/rolls/rollCardPartial/threshold.html}}
			{{/unless}}
		{{/if}}
		</ul>
  	</div>

	<div class="SR-CardButton">
		<div class="SR-CardButtonHit grid">
		<div class="col-2">
			{{#if chatCard.canEditResult}}
				<a class="chat-button-gm edit-toggle" title="{{localize 'SR5.EditResult'}}"><i class="fas fa-edit"></i></a>
			{{/if}}
			{{#if chatCard.templatePlace}}
				<a class="messageAction owner" title="{{localize 'SR5.PlaceTemplate'}}" data-action="nonOpposedTest" data-type="templatePlace"><i class="fas fa-bullseye"></i></a>
			{{/if}}
			{{#if chatCard.templateRemove}}
				<a class="messageAction owner" title="{{localize 'SR5.RemoveTemplate'}}" data-action="nonOpposedTest" data-type="templateRemove"><i class="fas fa-ban"></i></a>
			{{/if}}
		</div>
		<div class="col-8">
			<div class="display-toggle" style="display: none;">
				<input class="card-edit" data-edit-type="hits" value="{{roll.hits}}">{{ifmto roll.hits 'SR5.DiceHits' 'SR5.DiceHit'}}
			</div>
			<div class="display-toggle">
				{{roll.hits}} {{ifmto roll.hits 'SR5.DiceHits' 'SR5.DiceHit'}}
				{{#if roll.glitchRoll}}
					({{localize 'SR5.Glitch'}})
				{{/if}}
				{{#if roll.criticalGlitchRoll}}
					({{localize 'SR5.GlitchCritical'}})
				{{/if}}
				{{#ife test.type "lift"}}
					({{various.weightTotal}}{{localize 'SR5.KilogramUnit'}})
				{{/ife}}
				{{#ife test.type "movement"}}
					({{various.movementTotal}} {{various.unit}})
				{{/ife}}
				{{#if_g extendedRoll 0}}
					[{{extendedIntervalValue}} 
					{{#if_g extendedIntervalValue 1}}
					{{findTranslation 'extendedIntervals' extendedInterval}}]
					{{else}}
					{{findTranslation 'extendedInterval' extendedInterval}}]
					{{/if_g}}
				{{/if_g}}
			</div>
		</div>
		<div class="col-2">
			{{#if (and edge.canUseEdge (ne test.type 'preparation'))}}
			<a class="messageAction owner" data-action="nonOpposedTest" data-type="secondeChance" title="{{localize 'SR5.SecondChance'}}"><i class="fas fa-dice"></i></a>
			<a class="messageAction owner" data-action="nonOpposedTest" data-type="pushLimit" title="{{localize 'SR5.PushTheLimit'}}"><i class="fas fa-bomb"></i></a>	
			{{/if}}
		</div>
		</div>

		<div id="srButtonTest"></div>

		<!-- EXTENDED TEST -->
		{{#if extendedTest}}
			<button class="messageAction nonOpposedTest chat-button-owner" data-action="nonOpposedTest" data-type="extended">{{localize 'SR5.NewRoll'}}</button>
		{{/if}}
	</div>
</div>