/* === Exit/Return to Setup menu === */
#menu {
  background: var(--sr-ui-bg-color-dark);

  #main-menu-items {
    li {
      color: var(--sr-ui-color);

      &:hover {
        text-shadow: none;
        color: var(--sr-ui-color-active);
      }

      i {
        opacity: 1;
      }

      h2 {
        color: var(--sr-ui-color);
        font-family: var(--sr-font-title-alt);
        font-size: 20px;

        &:hover {
          color: var(--sr-ui-color-active);
        }
      }
    }
  }
}
