<form class="{{cssClass}}" autocomplete="off">
	<div class="SR-mainContainer">

		<!-- HEADER -->
		{{> systems/sr5/templates/actors/_partials/header/header.html}}

		<div class="SR-MainWindows">
			<div class="grid">

				<!-- LEFT TAB -->
				<div class="col-3 SR-ActorColGauche">
					<section class="sr-tabs2">
						<!-- CORE INFO LEFT TAB -->
						<div class="tab" data-group="gauche" data-tab="tab-attributs">
							{{> systems/sr5/templates/actors/_partials/left-tabs/matrixUser/matrixAttributes.html}}
							{{> systems/sr5/templates/actors/_partials/left-tabs/matrixUser/userMode.html}}
							{{> systems/sr5/templates/actors/_partials/left-tabs/coreInfos/initiatives.html}}
							{{> systems/sr5/templates/actors/_partials/left-tabs/matrixUser/matrixResistances.html}}
							{{> systems/sr5/templates/actors/_partials/left-tabs/matrixUser/overwatchScore.html}}
							{{> systems/sr5/templates/actors/_partials/left-tabs/matrixUser/marks.html}}
						</div>
					</section>
				</div>

				<!-- RIGHT TAB -->
				<div class="col-9">
					<div class="SR-ActorMainCentre">

						<section class="sr-tabs">
							{{> systems/sr5/templates/actors/_partials/right-tabs/skills/activeSkills.html}}
							{{> systems/sr5/templates/actors/_partials/right-tabs/matrix/matrixActions.html}}
							{{> systems/sr5/templates/actors/_partials/right-tabs/matrix/spritePowers.html}}
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		{{> systems/sr5/templates/actors/_partials/footer/footer.html }}

	</div>
</form>