<form class="{{cssClass}}" autocomplete="off">
	<div class="SR-mainContainer">

		<!-- HEADER -->
		{{> systems/sr5/templates/items/_partial/header/header.html}}

		<!-- WINDOW BODY -->
		<div class="SR-MainWindows">
			<section class="sr-tabs">

				<!-- SUMMARY TAB -->
				<div class="tab grid" data-group="primary" data-tab="tab-info">
					<!-- SUMMARY -->
					<div class="col-5 SR-ItemColGauche">
						<ul>
							<!-- Summary title -->
							{{> systems/sr5/templates/items/_partial/title/summary.html}}
							<!-- Modification stats -->
							{{> systems/sr5/templates/items/_partial/summary/vehicleMod-summary.html}}							
							<!-- Rating -->
							{{> systems/sr5/templates/items/_partial/summary/_common/rating-summary.html}}
							<!-- Source -->
						    {{> systems/sr5/templates/items/_partial/summary/_common/source-summary.html}}	
						</ul>
					</div>

					<!-- DESCRIPTION & GAME EFFECT -->
					<div class="col-7 SR-ItemColDroite">
						{{> systems/sr5/templates/items/_partial/editable/_common/descriptionGameEffect-edit.html}}
					</div>
				</div>

				<!-- EDITABLE TAB -->
				<div class="tab SR-ItemConfig SR_ItemScrollY" data-group="primary" data-tab="tab-stat">
					<!-- General Stat -->
					<ul>
						<!-- General information title -->
						{{> systems/sr5/templates/items/_partial/title/generalInformation.html}}
						<!-- Category -->
						{{> systems/sr5/templates/items/_partial/editable/vehicleMod/category-edit.html}}
						<!-- Type -->
						{{> systems/sr5/templates/items/_partial/editable/vehicleMod/tools-edit.html}}
						<!-- Item Rating -->
						{{> systems/sr5/templates/items/_partial/editable/_common/rating-edit.html}}
                        <!-- Slot -->
						{{> systems/sr5/templates/items/_partial/editable/vehicleMod/slot-edit.html}}
						<!-- Skill -->
						{{> systems/sr5/templates/items/_partial/editable/vehicleMod/skill-edit.html}}
						<!-- Threshold -->
						{{> systems/sr5/templates/items/_partial/editable/vehicleMod/threshold-edit.html}}				
			        </ul>
					{{#if system.isWeaponMounted}}
					<ul class="SR-PaddingTop10">
						{{> systems/sr5/templates/items/_partial/editable/vehicleMod/weaponMount-edit.html}}
					</ul>
					{{/if}}
					<ul class="SR-PaddingTop10">
						{{> systems/sr5/templates/items/_partial/editable/vehicleMod/priceMultiplierVehicleMod-edit.html}}
					</ul>
				</div>

                <!-- CUSTOM EFFECTS -->
				<div class="tab SR-ItemConfig" data-group="primary" data-tab="tab-effect">
					{{> systems/sr5/templates/items/_partial/effect/effect.html}}
				</div>

			</section>
		</div>

		<!-- FOOTER -->
		{{> systems/sr5/templates/items/_partial/footer/footer.html}}

	</div>
</form>