<form class="{{cssClass}}" autocomplete="off">
	<div class="SR-mainContainer">

		<!-- HEADER -->
		{{> systems/sr5/templates/items/_partial/header/header-noIcon.html}}

		<!-- WINDOW BODY -->
		<div class="SR-MainWindows">

			<!-- SUMMARY -->
			<div class="col-12">
				<ul>
					<!-- General information title -->
					{{> systems/sr5/templates/items/_partial/title/generalInformation.html}}
					<!-- Karma type -->
					{{> systems/sr5/templates/items/_partial/editable/karma/type-edit.html}}
					<!-- Karma amount -->
					{{> systems/sr5/templates/items/_partial/editable/karma/amount-edit.html}}
				</ul>

				<ul class="SR-PaddingTop10">
					{{> systems/sr5/templates/items/_partial/editable/_common/description-edit.html}}
				</ul>
			</div>
		</div>

		<!-- FOOTER -->
		{{> systems/sr5/templates/items/_partial/footer/footer.html}}

	</div>
</form>