@ActorSheetTop      : "../assets/img/ui/SR5_BG_ActorTop.png";
@ActorSheetBottom   : "../assets/img/ui/SR5_BG_ActorBottom.png";
@ItemSheetTop       : "../assets/img/ui/SR5_BG_ItemTop.png";
@ItemSheetBottom    : "../assets/img/ui/SR5_BG_ItemBottom.png";
@BGWhite50          : "../assets/img/ui/SR5_BG_Blanc50.png";
@BGWhite            : "../assets/img/ui/SR5_BG_Blanc.jpg";
@Sidebar            : "../assets/img/ui/SR5_BG_Sidebar.jpg";
@ContextMenu        : "../assets/img/ui/SR5_BG_ContextMenu.png";
@SRLogo             : "../assets/img/ui/SR5_Logo.png";
@Dialog             : "../assets/img/ui/SR5_BG_Dialog.png";
@UpArrow            : "../assets/img/ui/SR5_UpArrowGreen.svg";
@MacroBar           : "../assets/img/ui/SR5_BG_MacroBar.png";
@ControlBar         : "../assets/img/ui/SR5_BG_ControlBar.png";
@ChatMessage        : "../assets/img/ui/SR5_BG_ChatMessage.png";
@InitDicesOff       : "../assets/img/icons/SR5_InitDicesOff.svg";
@InitDicesOn        : "../assets/img/icons/SR5_InitDicesOn.svg";
