@keyframes glow {
  from {
    color: color-mix(in srgb, var(--sr-text-color-light) 90%, transparent);
    text-shadow: 0 0 10px var(--sr-text-color-flash), 0 0 20px var(--sr-text-color-flash), 0 0 30px var(--sr-text-color-flash), 0 0 40px var(--sr-text-color-flash), 0 0 50px var(--sr-text-color-flash), 0 0 60px var(--sr-text-color-flash), 0 0 70px var(--sr-text-color-flash), 0 0 90px var(--sr-text-color-flash);
  }
  to {
    color: transparent;
    text-shadow: 0 0 20px var(--sr-text-color-flash), 0 0 20px var(--sr-text-color-flash), 0 0 30px var(--sr-text-color-flash), 0 0 40px var(--sr-text-color-flash), 0 0 50px var(--sr-text-color-flash), 0 0 60px var(--sr-text-color-flash), 0 0 70px var(--sr-text-color-flash), 0 0 80px var(--sr-text-color-flash), 0 1 90px var(--sr-text-color-flash);
  }
}
