#sr5help {
  z-index: 0;
  position: fixed;
  background: none;
  color: var(--sr-text-color-light);
  text-align: center;
  background-image: none;
  left: 15px;
  bottom: 82px;
  border: 1px solid var(--sr-text-color-flash);
  border-radius: none;
  box-shadow: none;
  background-color: color-mix(in srgb, var(--sr-text-color-flash) 25%, transparent);
  padding: 0 10px;
  width: auto;
  max-width: 300px;
  opacity: 0;
  transition: opacity .5s ease-out 2s, z-index 3.5s;

  &.active {
    opacity: 1;
    transition: opacity .5s ease-out 0s;
    z-index: 999;
  }

  h3 {
    font-family: var(--sr-font-title);
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px solid color-mix(in srgb, var(--sr-text-color-flash) 50%, transparent);
  }

  ul {
    list-style-type: circle;
    list-style-position: outside;
    text-align: left;
    padding-left: 12px;
  }

  .helpMessage {
    padding-bottom: 8px;
    border-bottom: 1px solid color-mix(in srgb, var(--sr-text-color-flash) 50%, transparent);
  }
}
