/* === Tooltips === */

#tooltip,
.locked-tooltip {
  background: var(--sr-ui-bg-color-dark);
  border: 1px solid var(--sr-ui-border-color-idle);
  color: var(--sr-ui-color-active);
  font-family: var(--sr-font-body);

  .toolclip h4 {
    color: var(--sr-ui-color);
    font-family: var(--sr-font-title);
    text-transform: uppercase;
    border-bottom: 1px solid var(--sr-ui-border-color-idle);
    padding-bottom: 4px;
    margin-bottom: 4px;
  }

  .toolclip p.faint {
    color: var(--sr-text-color-grey);
  }
}
